/* Tailwind Css intelissense  */
@import "tailwindcss"

/* Font Family inter  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* inter font class  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

/* navbar section style start  */
.navbar img {
    width: 13.68rem;
    height: 2rem;

}

.nav-btn {
    padding: .75rem .75rem;
    border-radius: 2rem;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1));
}

.hamburger {
    display: none !important;
}

/* hero section css start from here  */
.hero-section {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
    width: 100%;
}

.listen-btn {
    color: white;
    margin-right: 1rem;
    padding: .75rem .75rem;
    border-radius: 2rem;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1));
}

.listen-btn:hover {
    cursor: pointer;
}

.subscribe-btn {
    padding: .75rem .75rem;
    border-radius: 2rem;
    border: 1px solid rgba(0, 255, 136, 1);
    color: rgba(0, 255, 136, 1);
    background-color: transparent;
    transition: transform 2s;
    cursor: pointer;
}

.subscribe-btn:hover {
    transform: scale(1.2);
    background-color: rgba(255, 0, 255, 0.693);

}

.hero-content {
    position: relative;
}

.new-btn {
    background-color: rgba(0, 255, 136, 1);
    border-radius: 2rem;
    border: none;
    color: black;
    padding: .3rem .5rem;
    font: 700;
    position: absolute;
    right: 8.5rem;
    animation: salman 2s ease-in-out .1s infinite alternate-reverse;
}

@keyframes salman {
    from {
        left: ;
    }

    to {
        right: 1px;
    }
}

.bhashainna {
    position: absolute;
    left: 13.2rem;
    top: 10rem;
}


/* about the container section style start from here  */
.about-card-container {
    margin-top: 3.12rem;
    margin-bottom: 7.5rem;
}

.about-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-the-podcast hr {
    margin-bottom: 1.25rem;
}

.about-the-podcast {
    margin-bottom: .8rem;
}


/* Featured episode section style start from here  */
.featured-episode {
    max-width: 75rem;
    margin: 7.5rem auto;
}

.featured-container {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
}



/* footer section style start from here  */

.footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 25.75rem;
    width: 100%;
    padding-bottom: 2rem;


}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;


}

.footer-section img {
    margin-bottom: 1.85rem;
}

.social>span {
    display: flex;
    gap: 5px;

}

span {
    width: 80px;
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .2rem;
}

#apple {
    width: 131px;
    margin: 0 10px;
}

.host-icons img {
    padding: .6rem;
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 50%;
}

/* Why choose container style from here  */
.why-choose-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.87rem;
}

.no-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.no-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.featured-episode {
    margin-top: -4.5rem auto;

}


/* Responsive media query form here  */
@media screen and (max-width: 576px) {
    ul {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .2rem;
    }

    .footer-section {
        padding-top: 2rem;
    }

    .footer {
        background-image: url(../assets/footer-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: min-content;
        width: 100%;
        padding-bottom: 2rem;


    }

    .about-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

    }

    .featured-episode {
        margin-top: 4.5rem;
        margin-bottom: -4.5rem;

    }

    iframe {
        width: 300;
        height: 300;
    }

    .host-container {
        display: flex;
        flex-direction: column;
    }

    .host-content {
        justify-items: center;
        text-align: center;
    }

    .why-choose-container {
        display: block;

    }

    .choose-card {
        margin: 1.25rem 1.25rem;

    }

    .meet-the-host {
        margin-bottom: 3rem;
    }

    .hamburger {
        display: block !important;

    }

    .bhashainna {
        position: absolute;
        left: 10.5rem;
        top: 10rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 1280px) {
    .hamburger {
        display: none;
    }
}