/* Tailwind Css intelissense  */
@import "tailwindcss"

/* Font Family inter  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* inter font class  */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

/* navbar section style start  */
.navbar img {
    width: 13.68rem;
    height: 2rem;

}

.nav-btn {
    padding: .75rem .75rem;
    border-radius: .62rem;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1));
}


/* about the container section style start from here  */
.about-card-container{
    margin-top: 3.12rem ;
    margin-bottom: 7.5rem ;
}
.about-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-the-podcast hr{
    margin-bottom: 1.25rem;
}

.about-the-podcast{
    margin-bottom: .8rem;
}


/* Featured episode section style start from here  */
.featured-episode{
    max-width: 75rem;
    margin: 7.5rem auto;
}

.featured-container{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
}



/* footer section style start from here  */

.footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25.75rem;

}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.25rem;
    

}

.footer-section img {
    margin-bottom: 1.85rem;
}

.social>span {
    display: flex;
    gap: 5px;

}

span {
    width: 80px;
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .2rem;
}

#apple {
    width: 131px;
    margin: 0 10px;
}

/* Responsive media query form here  */
@media screen and (max-width: 576px) {
    ul {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .2rem;
    }

    .footer-section{
        padding-top: 2rem;
    }

    .footer {
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.about-card-container{
    grid-template-columns: repeat(2, 1fr);
}
.featured-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    
}
iframe{
    width: 300;
    height: 300;
}
}

@media screen and (min-width: 576px) and (max-width: 1536px) {
    .hamburger {
        display: none;
    }
}